APP_NAME="nexus-api"
PORT=8000
DEBUG=true
API_KEY=""
DUCKDNS_DOMAIN=""
DUCKDNS_TOKEN=""
ESP_IP=""
ESP_PORT=""
ESP_API_KEY=""
NEXUS_IP="localhost"
NEXUS_PORT="8000"
ESP_IP=""
ESP_PORT=""
ESP_API_KEY=""
